@media all and (max-width: 768px) {

    h2,
    .h2 {
        font-size: 1.4rem;
    }

    h3,
    .h3 {
        font-size: 1.3rem;
    }

}

.loader-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 450px;
    min-height: 450px;
}

.loader-form.hidden {
    display: none !important;
}

.loader-form img {
    width: 100px;
}

@media all and (max-width: 768px) {
    .loader-form {
        min-height: 260px;
    }
}

.error-text {
    font-weight: 500;
    font-size: 14px;
}

.toast-success {
    background-color: #d6f0e0 !important;
    color: #0d6831 !important;
    border-color: #c0e7d0 !important;
}

.toast-success .title,
.toast-success svg {
    color: #0d6831 !important;
}

.toast-error {
    background-color: #f0d6d6 !important;
    color: #680d0d !important;
    border-color: #e7c0c0 !important;
}

.toast-error .title,
.toast-error svg {
    color: #680d0d !important;
}

.toast-body {
    font-weight: 700 !important;
}

#map {
    z-index: 9 !important;
}

.gridder .price span {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
}

/* Blog */

.post-author {
    font-weight: 600;
}

.post-date {
    font-weight: 700;
}

.news .card {
    max-width: 400px !important;
}

.news .img-place>img {
    min-height: 100%;
}

.news .small_content {
    font-weight: 500;
}

.empty-search {
    margin: 5rem 0 0 0;
}

.empty-search-img img {
    max-width: 120px;
    margin-top: 2.5rem;
    margin-right: 2rem;
    display: block;
}

@media all and (max-width: 768px) {
    .empty-search {
        margin: 1.5rem 1.5rem 0 1.5rem;
    }

    .empty-search-img img {
        margin-right: 0;
        max-width: 200px;
    }
}

.blog-badge .badge {
    padding: 0.5rem 0.5rem;
}

.blog-title h1 {
    font-weight: bold;
    letter-spacing: 1px;
}

.blog-header span {
    font-size: 13px;
    font-weight: 600;
}

.blog-header span .day {
    text-transform: capitalize;
}

.blog-header i {
    color: #0d6831;
}


/*** Author Box ***/

.bk-author-box {
    margin-top: 60px;
    min-height: 190px;
    padding: 20px 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.bk-author-box {
    margin: 0 0 1rem 0;
}

.fullwidth .bk-author-box {
    margin-right: 0;
}

.bk-author-box .bk-author-avatar {
    float: left;
    z-index: 9;
    position: relative;
}

.bk-author-box .author-info {
    padding-left: 95px;
    position: relative;
    display: block;
    min-height: 30px;
    z-index: 1;
}

.bk-author-box .author-info h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #111;
}

.bk-author-box .author-info .bk-author-page-contact {
    position: absolute;
    bottom: -5rem;
    right: 0;
}

.bk-author-box .author-info .bk-author-page-contact a {
    display: inline-block;
    margin: 0 8px;
    color: #666;
}

.bk-author-box .author-info .bk-author-page-contact a:hover {
    color: #ffb82b;
}

.bk-author-bio {
    font-size: 13px;
}

.bk-author-name a {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.bk-author-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.bk-author-avatar {
    margin-right: 1rem;
}

.bk-author-avatar a {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
}

.source {
    text-align: end;
}

.source p a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.share-article {
    text-align: end;
}

.share-article .partage ul {
    justify-content: flex-end;
}

@media all and (max-width: 768px) {

    .bloc-header-blog {
        display: block !important;
    }

    .bloc-header-blog .col-md-8 {
        padding-right: 0;
    }

    .bloc-header-blog .col-md-4 {
        padding: 0 0;
        margin-top: 1rem;
    }

    .bk-author-box .author-info .bk-author-page-contact {
        position: relative;
        bottom: 0rem;
        right: 0;
    }

    .bloc-content-blog {
        padding-right: 0;
    }

    .entry-content iframe {
        max-width: 100% !important;
    }
}

.vg-footer .loader-form {
    max-height: 70px;
    min-height: 70px;
}

.vg-footer .loader-form img {
    background: transparent;
}

.form-min-h {
    min-height: 70px;
}

/* GitHub */

.page-github .widget-grid {
    display: none;
}

.page-github .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 0;
    max-width: 100%;
}

.page-github .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.page-github .bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.page-github .user-profile {
    padding: 20px 0;
}

.page-github .card-block {
    padding: 1.25rem;
}

.page-github .m-b-25 {
    margin-bottom: 25px;
}

.page-github .img-radius {
    border-radius: 5px;
}

.page-github #avatar_url {
    max-width: 100px;
    border-radius: 50%;
}

.page-github h6 {
    font-size: 14px;
}

.page-github .card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    .page-github p {
        font-size: 14px;
    }
}

.page-github .card-block {
    padding: 1.25rem;
}

.page-github .b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.page-github .m-b-20 {
    margin-bottom: 20px;
}

.page-github .p-b-5 {
    padding-bottom: 5px !important;
}

.page-github .card .card-block p {
    line-height: 20px;
    font-weight: 500;
}

.page-github .m-b-10 {
    margin-bottom: 10px;
}

.page-github .text-muted {
    color: #919aa3 !important;
}

.page-github .b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.page-github .f-w-600 {
    font-weight: 600;
}

.page-github .m-b-20 {
    margin-bottom: 20px;
}

.page-github .m-t-40 {
    margin-top: 20px;
}

.page-github .p-b-5 {
    padding-bottom: 5px !important;
}

.page-github .m-b-10 {
    margin-bottom: 10px;
}

.page-github .m-t-40 {
    margin-top: 20px;
}

.page-github .user-card-full .social-link li {
    display: inline-block;
}

.page-github .user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.page-github #loader-github {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
}

.page-github .bloc-user-github {
    display: none;
}

.page-github .d-flex-t {
    width: 100%;
    min-height: 156px;
    padding: 1rem 0;
    justify-content: center;
    display: flex;
}

.page-github .d-flex-p {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.page-github #error-github {
    display: none;
    width: 100%;
    max-width: 500px;
    background: #ff8484;
    border: 1px solid #ff00001f;
    border-radius: 0.5rem;
    box-shadow: 0 0 9px 0px #00000075;
}

.page-github #error-github .col-md-9:last-child {
    width: 100%;
    padding: 0 1rem 0 0;
}

.page-github #error-github .col-md-9:last-child p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: black;
    margin-bottom: 0;
}

.page-github #error-github .col-md-3 img {
    max-width: 90px;
}

.page-github .timeline-none li {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding-left: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #bdbdbd;
}

.page-github .timeline-none li:first-child::before {
    background-color: transparent !important;
    box-shadow: none;
    border: 0;
    position: relative;
}

.page-github .timeline-none li::before {
    list-style-type: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.page-github .timeline .title {
    text-transform: capitalize;
}

.page-github .timeline a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.page-github .timeline::before {
    height: 99.4%;
}

.page-github .widget-grid {
    justify-content: flex-end;
}

.page-github .page-login.hidden {
    display: none !important;
}

.page-github .nice-select .list {
    right: 0;
    left: auto;
}

.page-login .vg-page {
    overflow: visible;
}

@media all and (max-width : 768px) {

    .vg-page {
        padding: 1rem 0;
    }

    .page-github .d-flex-t {
        display: block;
    }

    .vg-page .page-login {
        margin: 0 1rem;
    }

    .page-login .col-md-8 {
        margin-top: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .page-login .d-flex-t .bloc-user-github {
        padding: 0;
    }

    .page-login .user-profile {
        padding: 0 1.25rem;
    }

    .page-contact .zoomIn {
        margin: 0 0 !important;
        padding: 0 1rem !important;
    }
}

.disabled {
    pointer-events: none !important;
}
