.projets {
    justify-content: center;
    align-items: center;
}

.projets .img img {
    max-width: 150px;
}

.projets .content {
    margin-left: 1rem;
}

@media all and (max-width: 768px) {
    .projets {
        display: block !important;
    }

    .projets .img {
        margin-bottom: 2rem;
    }

    .projets .content {
        margin-left: 0;
    }

}

.navbar-toggler {
    height: 40px;
    line-height: 0;
}

.navbar-toggler span {
    line-height: 0;
}

.logo {
    max-width: 30px;
    border-radius: 50%;
    margin-right: 1rem;
}

@media all and (max-width: 768px) {

    h2,
    .h2 {
        font-size: 1.4rem;
    }

    h3,
    .h3 {
        font-size: 1.3rem;
    }

}

.loader-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 450px;
    min-height: 450px;
}

.loader-form.hidden {
    display: none !important;
}

.loader-form img {
    width: 100px;
}

@media all and (max-width: 768px) {
    .loader-form {
        min-height: 260px;
    }
}

.error-text {
    font-weight: 500;
    font-size: 14px;
}

.toast-success {
    background-color: #d6f0e0 !important;
    color: #0d6831 !important;
    border-color: #c0e7d0 !important;
}

.toast-success .title,
.toast-success svg {
    color: #0d6831 !important;
}

.toast-error {
    background-color: #f0d6d6 !important;
    color: #680d0d !important;
    border-color: #e7c0c0 !important;
}

.toast-error .title,
.toast-error svg {
    color: #680d0d !important;
}

.toast-body {
    font-weight: 700 !important;
}

#map {
    z-index: 9 !important;
}

.gridder .price span {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
}

/* Blog */

.entry-content blockquote>*:nth-last-child(1),
.single .entry-content blockquote>*:nth-last-child(2) {
    display: inline;
}

.entry-content blockquote>h4 {
    color: #05c9f5;
    font-size: 18.5px;
    letter-spacing: normal;
    text-transform: unset;
    line-height: inherit;
}

.entry-content h2,
.single .entry-content h4,
.single .entry-content h5,
.single .entry-content h6 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.entry-content blockquote {
    font-size: 1.3em;
    color: #333;
}

.entry-content blockquote {
    background-color: #222;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    font-family: Oswald, sans-serif;
    color: #fff;
}

.entry-content blockquote {
    color: #222;
}

.entry-content blockquote {
    background-color: transparent !important;
    border-left: 7px solid #05c9f5;
    font-weight: bold !important;
    margin: 40px 0;
    padding: 0 1.25rem;
}

@media screen and (min-width: 768px) {

    .entry-content .single-source,
    .entry-content .single-credit,
    .entry-content .wp-caption-text {
        font-size: .75em;
        color: gray;
    }
}

@media screen and (min-width: 992px) {

    .entry-content div[id^='attachment_'].alignleft,
    .entry-content div[id^='attachment_'].alignright {
        max-width: 40% !important;
        width: 40% !important;
    }
}

.site-content_wrap .wp-caption,
.site-content_wrap img {
    width: 100%;
    max-width: 100% !important;
}

img.alignright,
.alignright {
    float: right !important;
    margin-left: 25px !important;
}

@media screen and (min-width: 768px) {

    .entry-content .single-source,
    .entry-content .single-credit,
    .entry-content .wp-caption-text {
        font-size: .75em;
        color: gray;
    }
}

.wp-caption {
    width: 100%;
    max-width: 100% !important;
}

.size-full {
    width: 100%;
    max-width: 100% !important;
    height: auto;
}

.post-author {
    font-weight: 600;
}

.post-date {
    font-weight: 700;
}

.news .card {
    max-width: 400px !important;
}

.news .img-place>img {
    min-height: 100%;
}

.news .small_content {
    font-weight: 500;
}

.empty-search {
    margin: 5rem 0 0 0;
}

.empty-search-img img {
    max-width: 120px;
    margin-top: 2.5rem;
    margin-right: 2rem;
    display: block;
}

@media all and (max-width: 768px) {
    .empty-search {
        margin: 1.5rem 1.5rem 0 1.5rem;
    }

    .empty-search-img img {
        margin-right: 0;
        max-width: 200px;
    }
}

.blog-badge .badge {
    padding: 0.5rem 0.5rem;
}

.blog-title h1 {
    font-weight: bold;
    letter-spacing: 1px;
}

.blog-header span {
    font-size: 13px;
    font-weight: 600;
}

.blog-header span .day {
    text-transform: capitalize;
}

.blog-header i {
    color: #0d6831;
}


/*** Author Box ***/

.bk-author-box {
    margin-top: 60px;
    min-height: 190px;
    padding: 20px 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.bk-author-box {
    margin: 0 0 1rem 0;
}

.fullwidth .bk-author-box {
    margin-right: 0;
}

.bk-author-box .bk-author-avatar {
    float: left;
    z-index: 9;
    position: relative;
}

.bk-author-box .author-info {
    padding-left: 95px;
    position: relative;
    display: block;
    min-height: 30px;
    z-index: 1;
}

.bk-author-box .author-info h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #111;
}

.bk-author-box .author-info .bk-author-page-contact {
    position: absolute;
    bottom: -5rem;
    right: 0;
}

.bk-author-box .author-info .bk-author-page-contact a {
    display: inline-block;
    margin: 0 8px;
    color: #666;
}

.bk-author-box .author-info .bk-author-page-contact a:hover {
    color: #ffb82b;
}

.bk-author-bio {
    font-size: 13px;
}

.bk-author-name a {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.bk-author-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.bk-author-avatar {
    margin-right: 1rem;
}

.bk-author-avatar a {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
}

.source {
    text-align: end;
}

.source p a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.share-article {
    text-align: end;
}

.share-article .partage ul {
    justify-content: flex-end;
}

@media all and (max-width: 768px) {

    .page-github {
        padding: 0 1rem !important;
    }

    .bloc-header-blog {
        display: block !important;
    }

    .bloc-header-blog .col-md-8 {
        padding-right: 0;
    }

    .bloc-header-blog .col-md-4 {
        padding: 0 0;
        margin-top: 1rem;
    }

    .bk-author-box .author-info .bk-author-page-contact {
        position: relative;
        bottom: 0rem;
        right: 0;
    }

    .bloc-content-blog {
        padding-right: 0;
    }

    .entry-content iframe {
        max-width: 100% !important;
    }
}

.vg-footer .loader-form {
    max-height: 70px;
    min-height: 70px;
}

.vg-footer .loader-form img {
    background: transparent;
}

.form-min-h {
    min-height: 70px;
}

/* GitHub */

.page-github .widget-grid {
    display: none;
}

.page-github .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 0;
    max-width: 100%;
}

.page-github .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.page-github .bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.page-github .user-profile {
    padding: 20px 0;
}

.page-github .card-block {
    padding: 1.25rem;
}

.page-github .m-b-25 {
    margin-bottom: 25px;
}

.page-github .img-radius {
    border-radius: 5px;
}

.page-github #avatar_url {
    max-width: 100px;
    border-radius: 50%;
}

.page-github h6 {
    font-size: 14px;
}

.page-github .card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    .page-github p {
        font-size: 14px;
    }
}

.page-github .card-block {
    padding: 1.25rem;
}

.page-github .b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.page-github .m-b-20 {
    margin-bottom: 20px;
}

.page-github .p-b-5 {
    padding-bottom: 5px !important;
}

.page-github .card .card-block p {
    line-height: 20px;
    font-weight: 500;
}

.page-github .m-b-10 {
    margin-bottom: 10px;
}

.page-github .text-muted {
    color: #919aa3 !important;
}

.page-github .b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.page-github .f-w-600 {
    font-weight: 600;
}

.page-github .m-b-20 {
    margin-bottom: 20px;
}

.page-github .m-t-40 {
    margin-top: 20px;
}

.page-github .p-b-5 {
    padding-bottom: 5px !important;
}

.page-github .m-b-10 {
    margin-bottom: 10px;
}

.page-github .m-t-40 {
    margin-top: 20px;
}

.page-github .user-card-full .social-link li {
    display: inline-block;
}

.page-github .user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.page-github #loader-github {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
}

.page-github .bloc-user-github {
    display: none;
}

.page-github .d-flex-t {
    width: 100%;
    min-height: 156px;
    padding: 1rem 0;
    justify-content: center;
    display: flex;
}

.page-github .d-flex-p {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.page-github #error-github {
    display: none;
    width: 100%;
    max-width: 500px;
    background: #ff8484;
    border: 1px solid #ff00001f;
    border-radius: 0.5rem;
    box-shadow: 0 0 9px 0px #00000075;
}

.page-github #error-github .col-md-9:last-child {
    width: 100%;
    padding: 0 1rem 0 0;
}

.page-github #error-github .col-md-9:last-child p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: black;
    margin-bottom: 0;
}

.page-github #error-github .col-md-3 img {
    max-width: 90px;
}

.page-github .timeline-none li {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding-left: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #bdbdbd;
}

.page-github .timeline-none li:first-child::before {
    background-color: transparent !important;
    box-shadow: none;
    border: 0;
    position: relative;
}

.page-github .timeline-none li::before {
    list-style-type: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.page-github .timeline .title {
    text-transform: capitalize;
}

.page-github .timeline a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.page-github .timeline::before {
    height: 99.4%;
}

.page-github .widget-grid {
    justify-content: flex-end;
}

.page-github .page-login.hidden {
    display: none !important;
}

.page-github .nice-select .list {
    right: 0;
    left: auto;
}

.page-login .vg-page {
    overflow: visible;
}

@media all and (max-width : 768px) {

    .vg-page {
        padding: 1rem 0;
        margin-top: 1rem;
    }

    body .vg-page.header {
        padding: 1rem 0;
        margin-top: 0 !important;
    }

    .page-github .d-flex-t {
        display: block;
    }

    .vg-page .page-login {
        margin: 0 1rem;
    }

    .page-login .col-md-8 {
        margin-top: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .page-login .d-flex-t .bloc-user-github {
        padding: 0;
    }

    .page-login .user-profile {
        padding: 0 1.25rem;
    }

    .page-contact .zoomIn {
        margin: 0 0 !important;
        padding: 0 1rem !important;
    }
}

.disabled {
    pointer-events: none !important;
}

.news .card {
    overflow: hidden;
    max-height: 561px !important;
    min-height: 561px !important;
}

.news-smart-box__item,
.footer-area aside,
.related-post,
#sidebar,
#primery {
    box-sizing: border-box;
}

.widget-news-smart-box .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-inner {
    position: relative;
    overflow: hidden;
}

@media (min-width: 992px) {
    .widget-news-smart-box .news-smart-box__item.full-type .news-smart-box__item-inner {
        padding-top: 0px;
    }
}

.widget-news-smart-box .news-smart-box__item.full-type .news-smart-box__item-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.widget-news-smart-box .news-smart-box__instance .full-type .news-smart-box__item-inner {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
}

@media (min-width: 1200px) {
    .widget-news-smart-box .news-smart-box__item-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
}

.widget-news-smart-box .news-smart-box__item-inner {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.8s ease 0s;
}

@media (min-width: 992px) {
    .widget-news-smart-box .news-smart-box__item-header {
        margin-bottom: 13px;
    }
}

.widget-news-smart-box .news-smart-box__item-header {
    margin-bottom: 18px;
    position: relative;
}

.post__cats {
    margin: 0px;
}

.post__cats {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1;
}

.post__cats a {
    font-family: Lato, sans-serif;
    background-color: rgb(238, 40, 98);
    color: rgb(255, 255, 255);
}

.post__cats a {
    text-transform: capitalize;
}

.post__cats a {
    padding: 7px 8px;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.625rem;
    margin-bottom: 2px;
    color: white !important;
    text-decoration: none;
}

.widget-news-smart-box .news-smart-box__item.full-type .news-smart-box__item-thumb-link {
    overflow: hidden;
    position: relative;
}

.widget-news-smart-box .news-smart-box__item-thumb-link {
    display: block;
}

.widget-news-smart-box .news-smart-box__wrapper .entry-meta {
    margin-top: 5px;
}

.entry-meta {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    letter-spacing: 0em;
    color: rgb(238, 40, 98);
}

.entry-meta {
    font-style: italic;
    line-height: 2;
    margin-left: -10px;
    margin-right: -10px;
}

.news-smart-box__item .news-smart-box__item-author {
    margin-bottom: 8px;
}

.posted-by,
.posted-by a {
    color: rgb(238, 40, 98);
    text-decoration: none;
}

.entry-meta>* {
    padding: 2.5px 10px;
}

.post__cats,
.post__comments,
.post__date,
.post__tags,
.post__terms,
.post__comments a,
.post__date a,
.post__tags a,
.post__terms a {
    color: rgb(34, 34, 34);
}

.entry-meta>* {
    padding: 2.5px 10px;
}

.entry-meta>* {
    display: inline-block;
}

.post__date::before {
    display: inline-block;
    font: 16px / 1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    content: "\f017";
    margin-right: 4px;
    vertical-align: text-bottom;
}

@media (min-width: 992px) {

    .mini-type h3.news-smart-box__item-title,
    .full-type h3.news-smart-box__item-title,
    .full-type h5.news-smart-box__item-title {
        margin-top: 5px;
        font-size: 18px;
    }
}

.widget-news-smart-box .news-smart-box__item-title {
    letter-spacing: 0.25px;
}

@media (min-width: 992px) {

    .widget-fpblock__item-title,
    .full-type .news-smart-box__item-title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.4;
        font-family: Oswald, sans-serif;
        letter-spacing: 0em;
        text-align: inherit;
        color: rgb(34, 34, 34);
    }
}

.news-smart-box__item-title .post-title {
    color: black;
    text-decoration: none;
    transition: all 1s;
}

.news-smart-box__item-title .post-title:hover {
    color: #7c7c7c;
}

.widget-news-smart-box .news-smart-box__item-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.allposts .news-smart-box__item-title {
    font-size: 18px;
}

.widget-news-smart-box .news-smart-box__item-excerpt {
    margin-top: 12px;
    margin-bottom: 0px;
    line-height: 1.2;
}

.fl-rich-text p {
    color: gray;
    margin: 0px;
}

.widget-news-smart-box .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-header .news-smart-box__item-thumb-link img:hover {
    transform: scale(1.2);
    transition: all 300ms ease 0s;
}

.widget-news-smart-box .news-smart-box__item.full-type .news-smart-box__item-thumb-link img {
    transition: all 300ms ease 0s;
}

.widget-news-smart-box .news-smart-box__item-thumb-img {
    margin-top: 0px;
}

.widget-news-smart-box .news-smart-box__item-thumb-img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.fl-module img {
    max-width: 100%;
}

.widget-news-smart-box .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-header .news-smart-box__item-thumb-link {
    overflow: hidden;
}

.widget-news-smart-box .news-smart-box__item.full-type .news-smart-box__item-thumb-link {
    overflow: hidden;
    position: relative;
}

.widget-news-smart-box .news-smart-box__item-thumb-link {
    display: block;
}

.allposts {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

@media all and (max-width: 768px) {
    .news-smart-box__item.col-sm-12.col-lg-4.full-type {
        padding: 0 1.5rem 0 3.5rem;
        margin-bottom: 1.5rem;
    }
}

.post-grid {
    width: 100%;
}

#codeModal .modal-info .modal-title {
    font-size: 13px;
}

#codeModal .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border: none;
    padding-bottom: 0.7rem;
    border-bottom: 2px solid red !important;
}

#codeModal .nav-tabs {
    border-bottom: none;
}

#codeModal .input-group-text-https {
    cursor: pointer;
}

#codeModal .input-group-text-cli {
    cursor: pointer;
}

#codeModal #httpsSpan {
    display: none;
}

#codeModal #cliSpan {
    display: none;
}

#codeModal .footer-content {
    border-top: 1px solid #7a7a7a4f;
    padding: 1rem 1.5rem;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#codeModal .footer-content:hover {
    background: #f6f8fa;
}

#codeModal .modal-body {
    padding-bottom: 0;
}

#codeModal .modal-help {
    cursor: pointer;
}

#codeModal .modal-info {
    display: flex;
    justify-content: space-between;
}

/* Youtube */

.page-youtube .youtube-api {
    display: none;
    margin-top: 4rem;
}

@media all and (max-width: 768px) {
    .page-youtube .youtube-api {
        display: none;
        margin-top: 1rem;
    }
}

#bloc-youtube .bloc-flex {
    margin-bottom: 1rem;
}

#bloc-youtube .bloc-flex .col:first-child {
    transition: all 1s;
    cursor: pointer;
}

#bloc-youtube .bloc-flex .col:first-child:hover {
    opacity: 0.7;
}

@media all and (max-width: 768px) {
    #bloc-youtube .bloc-flex {
        display: block !important;
        padding: 0 1rem;
        width: 100%;
        margin: 4rem 0;
    }

    #bloc-youtube .bloc-flex:first-child {
        margin: 0 0 4rem 0;
    }

    #bloc-youtube .bloc-flex:last-child {
        margin: 1rem 0 0 0;
    }
}

.page-youtube #loader-youtube {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
}

#bloc-youtube .bloc-flex .col .length {
    color: white;
    font-weight: 800;
    background: #000000a6;
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    position: absolute;
    right: 25px;
    bottom: 10px;
    border-radius: 4px;
}

#bloc-youtube .bloc-flex .col .thumbnail-youtube {
    width: 420px;
    box-shadow: 0 0 7px 0px #00000061;
    border-radius: 10px;
}

@media all and (max-width: 768px) {
    #bloc-youtube .bloc-flex .col .thumbnail-youtube {
        width: 100%;
    }
}

#bloc-youtube .bloc-flex .col:first-child {
    padding-right: 0;
    max-width: 445px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}

@media all and (max-width: 768px) {
    #bloc-youtube .bloc-flex .col:last-child {
        padding: 1rem 0 0 0;
    }
}

#bloc-youtube .bloc-flex .col:last-child .video-info {
    font-size: 13px;
    color: #929292;
    font-weight: 600;
    margin-bottom: 1rem;
}

#bloc-youtube .bloc-flex .col:last-child .thumbnail {
    border-radius: 50%;
    max-width: 50px;
    margin-right: 0.5rem;
    display: inline-block;
}

#bloc-youtube .bloc-flex .col:last-child .youtubeur-info {
    margin-bottom: 1rem;
    font-size: 14px;
    color: #929292;
    font-weight: 600;
}

#bloc-youtube .bloc-flex .col:last-child .youtubeur-info a {
    color: #929292;
    text-decoration: none;
}


#bloc-youtube .bloc-flex .col:last-child .youtubeur-info .thumbnail img {
    max-width: 30px;
    border-radius: 50%;
}

#bloc-youtube .bloc-flex .col:last-child .description {
    font-size: 13px;
    color: #929292;
    font-weight: 600;
}

/* Offers */

.page-cart .col-md-6:last-child {
    margin-top: 4rem;
}

@media all and (max-width: 768px) {

    .page-cart .col-md-6:last-child {
        margin-top: 2rem;
    }


}

.page-cart .img-grid div {
    max-width: 450px;
    text-align: center;
    text-transform: uppercase;
}

.page-cart .img-grid div h4 {
    line-height: 2.5rem;
    font-size: 32px;
}

@media all and (max-width: 768px) {

    .page-cart .img-grid div h4 {
        line-height: 2rem;
        font-size: 22px;
    }

}

.page-cart .h3 {
    font-weight: 500;
    text-align: end;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #6e6e6e5c;
}

.page-cart .offer-list {
    list-style: none;
    padding-left: 0;
    padding: 0 0.35rem;
    margin-top: 4rem;
}

@media all and (max-width: 768px) {

    .page-cart .offer-list {
        padding: 0 0.35rem;
        margin-top: 2rem;
    }

}

.page-cart .offer-list li {
    cursor: pointer;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #00a1ff;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    position: relative;
    letter-spacing: 0.15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
}

@media all and (max-width: 768px) {

    .page-cart .offer-list li {
        font-size: 13px;
        text-align: end;
    }

}

.page-cart .offer-list li:hover {
    opacity: 0.5;
}

.page-cart .offer-list li i {
    color: #8ad0f9;
    font-size: 44px;
    font-weight: 500;
    text-shadow: 2px 2px 0px #73b0c38c;
}

@media all and (max-width: 768px) {

    .page-cart .offer-list li i {
        font-size: 22px;
    }

}

.page-cart .arrow-down {
    text-align: center;
    margin-top: 4rem;
}

@media all and (max-width: 768px) {

    .page-cart .arrow-down {
        margin-top: 2rem;
    }

}


.page-cart .arrow-down img {
    animation-name: arrow-down;
    animation-duration: 2s;
}

@media all and (max-width: 768px) {

    .page-cart .arrow-down img {
        max-width: 90px;
    }

}

@keyframes arrow-down {
    from {
        opacity: 0;
        transform: rotate(360deg);
    }

    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.page-cart .offer-foot {
    padding: 0 0.35rem;
}

.page-cart .offer-foot a {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

@media all and (max-width: 768px) {

    .page-cart .offer-foot a {
        font-size: 16px;
    }

}

.page-cart .offer-foot h4 {
    line-height: 2.25rem;
    text-align: end;
}

@media all and (max-width: 768px) {

    .page-cart .offer-foot h4 {
        line-height: 2.25rem;
        font-size: 18px;
    }

}

.page-cart .offer-sublist {
    border: 1px solid #8f8f8f6b;
    padding: 1rem;
    border-radius: 20px 0 20px 0;
}

.page-cart .offer-sublist p {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 450px;
    text-align: center;
    line-height: 2rem;
    justify-content: space-between;
    margin-bottom: 2.25rem;
    flex-wrap: nowrap;
}

.page-cart .offer-sublist p:last-child {
    margin-bottom: 0;
}

.page-cart .offer-sublist p::before {
    width: 2rem;
    padding-right: 2rem;
    content: "";
    display: block;
    border: 2px dashed #00a1ffbd;
}

.page-cart .offer-sublist p::after {
    width: 2rem;
    padding-left: 2rem;
    content: "";
    display: block;
    border: 2px dashed #00a1ffbd;
}

.page-cart .offer-sublist i {
    font-size: 25px;
    color: #24408fb5;
}

#loader-offer {
    max-height: 841px;
    min-height: 841px;
}

.page-cart #loader-offer div {
    visibility: hidden;
    text-align: center;
}

.page-cart #loader-offer div h5 {
    margin-top: 1rem;
    font-size: 26px;
    font-weight: 500;
}

.page-cart .bloc-iban {
    display: none;
}
